@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {

  /* colors */

  --clr-red: hsl(0, 100%, 74%);
  --clr-green: 154, 59%, 51%;
  --clr-blue: hsl(248, 32%, 49%);
  --clr-darkblue: hsl(249, 10%, 26%) ;
  --clr-grayishblue: hsl(246, 25%, 77%);
  --clr-white: #fff;
  --clr-shadow: hsl(249, 10%, 26%, .3) ;
  /* typography */

  --ff: 'Poppins', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button, input {
  font-weight: inherit;
  font-family: inherit;
}

/* utils */

.bold {
  font-weight: 600;
}

.red::placeholder {
  color: var(--clr-red);
}

/*  */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: var(--ff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  background: var(--clr-red) url(../public/images/bg-intro-mobile.png) no-repeat;
  background-size: cover;  
  color: var(--clr-white);
  text-align: center;
  margin-inline: 2em;
  padding-block: 2em;
  letter-spacing: .6px;
}

/* Signup form */

.container > * {
  border-radius: .4em;
  padding-block: .8em;
  margin-top: 2em;
  box-shadow: 0 8px var(--clr-shadow);
}

.box {
  background-color: var(--clr-blue);
  text-align: center;
  display: flex;
  justify-content: center;
  padding-block: 1em;
}

.box--text {
  font-size: .825em;
  max-width: 20ch;
}

.form--wrap {
  margin-top: 1.4em;
  background-color: var(--clr-white);
  padding: 2em;
}

.form--wrap * {
  border-radius: .4em;
  gap: 1em;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: .8em;
}

input {
  border: 1px solid var(--clr-grayishblue);
  padding: 1.125em;
  width: 100%;
}

button {
  background: hsl(var(--clr-green));
  color: var(--clr-white);
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1.2em;
}

button:hover {
  background: hsl(var(--clr-green), 80%);
}

.terms {
  color: var(--clr-grayishblue);
  font-weight: 400;
  font-size: .8em;
  padding: 0;
}

.terms a {
  color: red;
  text-decoration: none;
  padding: 0;
}

/* desktop */

@media (min-width: 50em) {
  .App {
    flex-direction: row;
  }  

  body {
    background-image: url(../public/images/bg-intro-desktop.png);
    flex-direction: row;
  }

  /* Head or Title */

  .head--info {
    max-width: 35em;

    text-align: left;
    margin-right: 5em;
  }

  .head--title {
    font-size: 2.8em;
    max-width: 20ch;
    line-height: 1.2em;
    margin-bottom: .5em;
  }

  /* Signup */

  .box {
    margin-top: 0;
  }

  .box--text {
    max-width: fit-content;
  }

  .container {
    width: 32vw;
    min-width: 25em;
  }

  .terms {
    font-size: .6em;
  }
}

.errormsg{
  color: var(--clr-red);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
  font-size: 10px;
}

.errormsg * {
  padding: 0 0 0 .5em;
}

.error-input {
  border: 1px solid var(--clr-red);
  background-image: url(../public/images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: right 6% center;
}

